.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 5vh;
    margin-right: -10px;
  }
  
  .div60 {
    width: 60%;
    background-color: #3b82f6;
    padding: 1rem;
    color: white;
    font-size: 1.25rem;
    float: unset;
  }
  
  .div40 {
    width: 40%;
    padding: 1rem;
    color: white;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b82f6;
  }



  .totalt{
    height: 50%;
    display: flex;
    justify-content:center;
    align-items: center; 
    text-align: center;
  }
  .total{
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  
    align-items: center;
  }
  
   .total1,.total2,.total3{
    text-align: left;
    line-height-step: 1;
    height: 80px;
    border-left: 1px solid white ;
    line-height: 110%;
    padding-left: 10px;
  }
  
  .total h1{
    margin-top: 5px;
  }
  .total h2{
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 26px;
  } 
  
  .carousel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the image fills the div */
  }
  
  .carousel-btn {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    
  }
  
  .carousel-btn:first-of-type {
    left: 10px;
  }
  
  .carousel-btn:last-of-type {
    right: 10px;
  }
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
      margin-top: 10vh;
    }
  
    .div60, .div40 {
      width: 100%;
      height: 100vh;
    }

    .chead1{
      font-size: 30px;
      
    }
    .total{
      margin-top:10px;
    }
    .total1,.total2,.total3{
      height: 70px;
      margin-right: 10px;
    }
    .total h2{
      font-size: 22px;
      margin-top: 5px;
    }
    .total h1{
      font-size: 35px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .div60, .div40 {
      width: 100%;
      margin-top: -35px;
    }
    .totalt{
      padding-right: 20px;
    }
    .total{
      padding-right: 10px;
    }
    .carousel{
      width: 90vw;
    }
    .carousel-image{
      width: 90vw;
    }
  }
  

  @media screen and (max-width:480px) {
      .container{
        width: 100%;
        
      }
  }