@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Indie+Flower&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

.feat{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s forwards;;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.featr{
    height: 70vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluu1{
    height: 100%;
    width: 50%; 
    background-color: #0463FA;
    display: block;
}
.featbut{
    width: 120px;
    height: 30px;
    color: white;
    background-color: #0463FA;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 1rem;
}
.feath1{
    font-family: "Archivo Black", serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-left: 4rem;
    margin-top: 1rem;
}
.featp{
    width: 600px;
    font-size: 1.1rem;
    color: white;
    margin-left: 4rem;
    margin-top: 1rem;
}
.featr1{
    height: 200px;
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-around;
}
.featc1{
    height: 100%;
    width: 50%;
    background-color: antiquewhite;
    float: left;
}
.featc2{
    height: 100%;
    width: 50%;
    background-color: aquamarine;
}

.coluu2{
    height: 100%;
    width: 50%; 
    
}
.featimg{
    height: 100%;
    width: 100%;
}

#fico{
    height: 2.5rem;
    width: 2.5rem;
    background-color:white;
    color: #0463FA;
    border-radius: 50%;
    font-size: 2rem;
    margin-left: 4rem;
}
#fih2{
    width: 3rem;
    margin-right: 14rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    color: white;
}

.cona{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

@media (max-width: 768px) {
    .featr{
        display: block;
        width: 100%;
    }
    .coluu1,.coluu2{
        width: 100%;
    }
}

@media (min-width:360px) and (max-width:480px) {
    .featr{
        display: block;
        width: 100%;
        margin: 0px;
    }
    .coluu1,.coluu2{
        width: 100%;
    }
    .featp{
        width: 90%;
        font-size: 1.1rem;
    }
    .feath1 ,.featbut, .featp{
        margin-left: 1.5rem;
    }
    .featc1, .featc2{
        display: block;
    }
}