@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Macondo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+VN:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
    width: 100%;
    height:100px;
    background-color: wheat;
    color: #000;
}

.clock{
    height: 2em;
    width: 100%;
    background-color: #EAF6FF;
    padding-top: 5px;
}

.headbar{
    height: 3.75em;
    width: 100%;
    display: flex;
    
}

.himg1{
    height: 45px;
    width: 45px;
    padding: 15px;
}

.part1 {
    display: flex;
    align-items: center;
    gap: 10px; 
    height: 3.75rem;
    width: 50vw;
}

.text1{
    font-size: 1.6em;
    font-weight: 600;
    font-family: "Roboto Condensed", serif;
    font-style: normal;
    height: 3.75rem;
    padding-top: 1.2em;
}

.part2{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px; 
    height: 60px;
}

.part2 a{
    color: #007BFF;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    font-family: "Roboto Condensed", serif;
    font-style: normal;
    
}

.part3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    /* background-color: #007BFF;  */
    color: white; 
    border-radius: 5px; 
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.part3 button{
    background-color: #007BFF;
    color: white; 
    border-radius: 5px; 
    font-size: 18px;
    border: none;
    width: 200px;
    height: 50px;
    font-family: "Roboto Condensed", serif;
    font-weight: 600;
}