.serc {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    min-height: 90vh;
    padding-bottom: 20px;
  }
  
  
  .shead{
    height: 150px;
    width: 100%;
    text-align: center;
    display: inline;
  }
  .heati{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 40px;
  }
  .boxh{
    height: 20px;
  }
  .serv {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap; 
  }
  
  .column {
    flex: 1; 
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 50vw;
    height:70vh;
    margin-top: -40px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .box1{
    
    height: 48%;
    margin-bottom: 20px;
    gap: 40px;
  }
  .box2{
    height: 48%;
    margin-top: 30px;
  }
  .but4{
    width: 160px;
    height: 35px;
    color: black;
    background-color: aliceblue;
    border: 1px solid skyblue ;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 16px;
    margin-left:45%;
    font-weight: 500;
}
.card {
    width: 22rem; /* 320px */
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 1rem auto;
    transition: transform 0.3s ease;
    color: #007bff;
    background-color: #EFF5FF;
    animation: up 1s linear  1 normal ;
    
  }
   @keyframes up {
    from {
      margin-top: 100px;
    }
    to{
      margin-top: 0px;
    }
   }
  .card:hover {
    transform: translateY(-0.5rem);
  }
  
  .card-img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #1B2C51;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #8D8E92;
  }
  
  .card-btn {
    padding: 0.8rem 1.5rem;
    background-color: aliceblue;
    border: 1px solid skyblue ;
    border-radius: 30px;
    color: #1B2C51;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .card-btn:hover {
    background-color: #0056b3;
    color: white;
  }  

  #ico{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    color: #007bff;
    background-color: white;
    border-radius: 50%;
    margin-left: 30px;
  }


  @media (max-width: 768px) {
    .column {
      display: block; 
      margin-bottom: 10px; 
    }
    .shead{
      text-align: center;
    display: inline;
    }
    .but4{
      margin-left: 115px;
    }
  }
  