
.main{
  width: 100%;
}
html, body{
  

  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

@media (max-width:760px) {
  html {
      scroll-behavior: smooth;
      overflow-x: hidden;
    }
}